html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #e8f1f2;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 5px 5px;
}

.container > .form__container > form {
  display: flex;
}

.form__container > form > input {
  border: none;
  height: 48px;
}

.form__container > form > input[type="text"] {
  background-color: #0e1f2f;
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

.form__container > form > input[type="submit"] {
  width: 48px;
  font-size: 36px;
  font-weight: lighter;
  background-color: #006494;
}

.list__container > ul {
  list-style-type: disc;
  margin: 30px 50px;
  font-weight: bold;
}

.list__container > ul > .list__item-container {
  display: list-item;
  margin: 10px auto;
  position: relative;
  color: #1b98e0;
}

.list__container > ul > .list__item-container > .list__item {
  display: inline;
}

.list__container > ul > .list__item-container > span {
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
  top: 2px;
  background-image: url(../images/close.png);
  background-repeat: round;
}

.list__container > ul > .list__item-container > .list__item-completed {
  text-decoration: line-through;
}

input {
  color: white;
  background-color: #8860d0;
}

input::placeholder {
  font-weight: lighter;
  font-style: italic;
  color: #fdfffcd8;
}