html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #e8f1f2;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 5px 5px;
}

.container > .form__container > form {
  display: flex;
}

.form__container > form > input {
  border: none;
  height: 42px;
}

.form__container > form > input[type="text"] {
  color: white;
  background-color: #0e1f2f;
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

.form__container > form > input[type="text"]::placeholder {
  font-weight: lighter;
  font-style: italic;
  color: #fdfffcd8;
  font-size: 16px;
}

.form__container > form > input[type="submit"] {
  width: 48px;
  font-size: 36px;
  font-weight: lighter;
  color: white;
  background-color: #006494;
}

.list__container > ul {
  font-weight: bold;
}

.list__container > ul > .list__item-container {
  display: flex;
  align-items: center;
  position: relative;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

ul > .list__item-container > input[type="checkbox"] {
  width: 32px;
  height: 32px;
}

ul > .list__item-container > .list__item {
  display: inline;
  max-width: 80%;
  color: #1b98e0;
  font-size: 16px;
  padding: 15px;
}

ul > .list__item-container > span {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 10px;
}

ul > .list__item-container > .list__item-completed {
  text-decoration: line-through;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
    margin: 5px auto;
  }
}