html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #c1c8e4;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  background-color: #8860d0;
  color: white;
  font-weight: bold;
}

.list__container > ul {
  list-style-type: disc;
  margin: 30px 50px;
  font-weight: bold;
}

.list__container > ul > .list__item-container {
  display: list-item;
  position: relative;
  color: #5680e9
}

.list__container > ul > .list__item-container > .list__item {
  display: inline;
}

.list__container > ul > .list__item-container > span {
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 10px;
  top: 2px;
  background-image: url(../images/close.png);
  background-repeat: round;
}

.list__container > ul > .list__item-container > .list__item-completed {
  text-decoration: line-through;
}

.form__container {
  margin-left: 30px;
}

input {
  font-weight: bold;
  color: white;
  background-color: #8860d0;
}

input::placeholder {
  font-weight: lighter;
  font-style: italic;
  color: #fdfffcd8;
}