html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.3s ease-out 0.05s;
}

.navbar-links {
  width: 95%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#menu-icon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

label > svg {
  fill: white;
}

#logo-icon {
  width: 50px;
  height: 44px;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

#basket-icon {
  width: 50px;
  height: 44px;
  background-image: url(images/basket.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + nav {
  background-color: black;
  transition: background-color 0.1s ease-in-out;
}

input[type="checkbox"]:checked + nav #basket-icon {
  background-image: none;
}

input[type="checkbox"]:checked + nav .menu{
  height: calc(100vh - 48px);
  transition: height 0.1s cubic-bezier(0.92, -0.01, 0.94, 0.73);
}

.menu {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 48px;
  left: 0;
  color: #f5f5f7;
  background-color: black;
  font-size: 16px; 
  overflow: hidden;
  transition: height 0.1s cubic-bezier(0.92, -0.01, 0.94, 0.73);
}

.menu-list {
  padding: 0px 40px 8px 40px;
}

.menu-list > ul {
  list-style: none;
  opacity: 0.8;
}

.menu-list > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-list > ul > li:not(:first-of-type) {
  border-top: 1.5px solid #424245;
}

.search-container {
  width: 100%;
  height: 53px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: black;
}

.search-box {
  width: 100%;
  height: 36px;
  background-color: #1d1d1f;
  display: flex;
  align-items: center;
  border-radius: 9px;
}

.search-box > span {
  padding-left: 30px;
  color: #6e6e73;
}

hr {
  border-color: #424245;
}

.covid {
  width: 100%;
  height: 60px;
  font-size: 14px;
  background-color: #0071e3;
  margin-top: 48px;
  display: flex;
  align-items: center;
}

.covid > a {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 0 45px;
}


